COMPOSE_PROJECT_NAME=element
ELEMENT_DATA_DIR=../../data/element

MATRIX_SERVER_NAME=localhost
SYNAPSE_REPORT_STATS=no
SYNAPSE_PORT=8008

ELEMENT_PORT=8080
ELEMENT_WEB_PORT=8080
ELEMENT_HOMESERVER_URL=http://lab:8008

POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD=replace-with-a-generated-secret
ELEMENT_BOT_USERNAME=element-bot
ELEMENT_BOT_PASSWORD=replace-with-a-generated-secret

PUID=1000
PGID=1000
TZ=UTC
